@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}


.container{

    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#51b4db,#f17cea,rgb(27, 199, 199),#a2a752); /*#d2001a,#7462ff,#f7e413,#23d5ab*/
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
body{
    
    font-size: var(--font-size-1);
    text-align: center;
}

:root{
    /*colors*/
--white-color: #fff;
--dark-color: #6be3e9 ; /*#252525*/
--primary-color: #9f96f1; /*#3b141c*/
--secondary-color: #f79be6; /*#f0f015*/
--light-pink-color: #faf4f5;
--medium-gray-color: #ccc;



/*font sizes*/
--font-size-s: 0.9rem;
--font-size-n: 1rem;
--font-size-m: 1.12rem;
--font-size-1: 1.5rem;
--font-size-x1: 2rem;
--font-size-xx1: 2.3rem;


/*font weight*/
--font-weight-normal: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;

/*border radius*/
--border-radius-s: 8px;
--border-radius-m: 30px;
--border-radius-circle: 50%;

/*site max width*/
--site-max-width: 1300px;
}

html{
    scroll-behavior: smooth;
}
/*Styling part for entire website*/
ul {
   list-style: none;
}

a{
    text-decoration: none;
}


button{
    cursor: pointer;
    border: none;
    background: none;
}

img{
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-x1);
}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display:block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* Styling for the price box */
.price-box {
    position: absolute;      
    left: 20px;              
    top: 500px;              
    padding: 20px;           
    background-color: #f2f2f2; 
    border: 2px solid #000; 
    border-radius: 8px;      
    font-size: 24px;        
    font-weight: bold;      
    color: #333;             
}

/* Styling for the location and date box */
.date-box {
    position: absolute;      
    right: 20px;              
    top: 500px;              
    padding: 20px;           
    background-color: #f2f2f2; 
    border: 2px solid #000; 
    border-radius: 8px;      
    font-size: 24px;        
    font-weight: bold;      
    color: #333;             
}

/*navbar styling*/
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

header .navbar{
 display: flex;
 padding: 20px;
 align-items: center;
 justify-content: space-between;
}

.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-x1);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu{
    display: flex;
    gap: 10px;
}
.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}


.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}

/*about section styling*/
.about-section {
  padding: 120px 0;
  background: var(--light-pink-color);
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}


.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details .section-title{
    padding: 0;
}

.about-section .about-details {
max-width: 50%;
}
.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.about-section .social-link-list .social-link{
    color: var(--primary-color);
    font-size: var(--font-size-1);
    transition: 0.2s ease;

}

.about-section .social-link-list .social-link:hover{
color: var(--secondary-color);
}

/*Events section styling*/
.events-section{
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.events-section .event{
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.events-section .event .mismatched-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}

.events-section .event .name{
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.events-section .event .location{
   line-height: 25px; 
}


.registration-form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.registration-form-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: 500;
}

form input,
form select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color:  var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color:  var(--primary-color);
}

/* Pop-up styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.popup button {
    padding: 10px;
    background-color:  var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

.popup button:hover {
    background-color: var(--primary-color);
}

/*responsive media query*/
@media screen and (max-width: 900px) {
    :root{
        --font-size-m: 1rem;
        --font-size-1: 1.3rem;
        --font-size-x1: 1.5rem;
        --font-size-xx1: 1.8rem;
    }



    
    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button){
        display: block;
        font-size: var(--font-size-1);
    }

    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;

    }
    .navbar #menu-open-button{
      color: var(--white-color);
    }

    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }
 
    body.show-mobile-menu .navbar .nav-menu {
       left: 0;
    }


    .navbar .nav-menu .nav-link {
     color: var(--dark-color);
     display: block;
     margin-top: 17px;
     font-size: var(--font-size-1);
    }

    .about-section .section-content {
        gap: 70px;
        flex-direction: column;

    }
    .about-section .about-image-wrapper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;

    }

    /* Media query for mobile screens */

    .price-box, .date-box {
        position: relative; 
        left: 0;  
        right: 0; 
        margin: 10px 0; 
        width: 100%; 
        box-sizing: border-box; 
        top: auto; 
    }

    /* Add additional space for the first box */
    .price-box {
        margin-bottom: 10px; /* Space between boxes */
    }
}


